@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #000000;
    font-family: 'Inter', sans-serif;
}
.App{
    position: absolute;
    top: 20%;
    left:25%;
    transition: -50% -50%;
    width: 50%;
    min-width: 500px;
 /*    border: 2px solid blue; */
    
}
.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
h1{
    color: #FFFFFF;
    font-size: 50px;
    padding-bottom: 15px;
}
.form-group>input{
    width: 100%;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    outline: none;
    background-color: black;
    color: #FFFFFF;
    margin-top: 0.5rem;
    padding: 8px 0px;
    font-size: 18px;
}
::placeholder {
    color: #FFFFFF;
    opacity: 0.6; 
  }
 
input::placeholder {
    font-size: 18px;
    color: #FFFFFF;
}
.btn{
    width: 8rem;
    height: 2.5rem;
    font-size: 15px;
    background-color: #FFFFFF;
    color: #000000;
}
.error{
    color: red;
    margin-bottom: 15px;
}
.success{
    color: green;
    margin-bottom: 10px;
}
.message{
    gap: 0;
}